.message {
    margin-bottom: 20px;
}

.imagelist h1, .messagelist h1 {
    margin: 20px 0px 40px 0px;
    text-align: center;
}

h2 {
    color: white;
}

div#main {
    background: black;
}

h1 {
    color: white;
}
